* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: muli, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: #f7faff;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-size: 14px;
  width: 1912px;
  /* width: 100vw; */
  padding-top: 0;
  transition: 0.5s;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  overflow: hidden;
}

@media only screen and (max-width: 380px) {
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #f3f3f3;
    max-width: 380px;
    margin: 3.125rem auto 0 auto;
    border-radius: 8px;
    background-color: #f6f8fc;
  }
}
